* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.hamburger span {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  background: white;
  transition: all 0.3s ease-in-out;
}
.hamburger.open .hamburger-top {
  transform: translateY(7px) rotate(45deg);
}
.hamburger.open .hamburger-middle {
  opacity: 0;
}
.hamburger.open .hamburger-bottom {
  transform: translateY(-7px) rotate(-45deg);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}